#GPHOTO_INFO {
  --top: none;
  --left: none;
  --bottom: 0;
  --right: 0;
}

@keyframes trans {
  from {opacity: 0}
  to {opacity: 1}
}

.region.fullscreen #GPHOTO {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index: 0;
}


#GPHOTO {
  position:relative;
  min-width: 300px;
  min-height:300px;
}

#GPHOTO_CURRENT {
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  position: absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  z-index: 2;
}

#GPHOTO_CURRENT.animated {
  animation-name: trans;
  animation-duration: 2s;
}

#GPHOTO_BACK {
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  filter: blur(10px) sepia(80%) brightness(40%);
  z-index: 1;
}

#GPHOTO_BACK.animated {
  animation-name: trans;
  animation-duration: 2s;
}

#GPHOTO_INFO {
  position:absolute;
  top: var(--top);
  left: var(--left);
  bottom: var(--bottom);
  right: var(--right);
  margin:10px;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 36px;
  line-height: 100%;
  text-align:left;
  z-index: 3;
}

#GPHOTO_INFO .albumCover {
  width:48px;
  height:48px;
  border-radius:50%;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  float:left;
}

#GPHOTO_INFO .albumTitle {
  color:#FDD;
}

#GPHOTO_INFO .photoTime {
  color:#DFD;
}

#GPHOTO_INFO .photoFilename {
  color:#FFF;
}

#GPHOTO_INFO .photoLocation {
  color:#DDF;
  font-size: 16px;
}

#GPHOTO_INFO .infoText {
  float:right;
  margin-left: 12px;
  padding-right: 12px;
  padding-top:6px;
  font-size:18px;
  line-height:100%;
  color:#FFF;
}

#GPHOTO_INFO .connectionStatus {
  font-size: 14px;
  padding: 4px 0;
  margin-bottom: 6px;
  opacity: 0.9;
}

#GPHOTO_INFO .status-online {
  color: #8F8;
}

#GPHOTO_INFO .status-offline {
  color: #FF8;
}

#GPHOTO_INFO .status-retrying {
  color: #F8F;
}

#GPHOTO_INFO .status-error {
  color: #F88;
}

#GPHOTO_INFO .status-initializing {
  color: #AAA;
}
